[submodule "DS-Project"]
	path = DS-Project
	url = https://github.com/Moosayed1/DS-Project
[submodule "Clinic-System"]
	path = Clinic-System
	url = https://github.com/AnonMiraj/Clinic-System
[submodule "treegram/DS-Tree"]
	path = treegram/DS-Tree
	url = https://github.com/MooSayed1/DS-Tree
[submodule "treegram/treeApp"]
	path = treegram/treeApp
	url = https://github.com/MooSayed1/treeApp
[submodule "treegram/tree-gram-site-"]
	path = treegram/tree-gram-site-
	url = https://github.com/Gharbawy1/tree-gram-site-
